<a href="https://colab.research.google.com/github/kzeynep/Python_Atil_hoca/blob/main/opp_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
class Person():
    #property
    #name = ""
    #age = 0
    #gender =""
    job = ""

    #initializer method
    def __init__(self,name,age,gender):
      self.name = name
      self.age = age
      self.gender = gender

    #method
    def printName(self):
      print(self.name)

In [5]:
zeynep = Person("zeynep",22,"female")

In [6]:
type(zeynep)

__main__.Person

In [8]:
zeynep.printName()

zeynep

In [14]:
class Dog():

  year = 7

  def __init__(self,age):
    self.age = age

  def humanAge(self):
    return self.age*self.year # self.year->Dog.year

In [10]:
myDog = Dog(3)

In [11]:
myDog.age

3

In [13]:
myDog.humanAge()

21

Inheritance >> Kalıtım

In [27]:
class Musician ():
  def __init__(self,name):
    self.name = name
    print("musician class")

  def test1(self):
    print("test1")

  def test2(self):
    print("test2")

In [28]:
zeynep = Musician("zeynep")

musician class

In [29]:
zeynep.name

'zeynep'

In [30]:
zeynep.test1()

test1

In [31]:
class MusicianPlus(Musician):
  def __init__(self,name):
    Musician.__init__(self,name)
    print("musician plus")

  def test3(self):
    print("test3")

  def test1(self):
    print("test1 test1 test1 ")

In [32]:
atlas = MusicianPlus("atlas")

musician class
musician plus

In [33]:
atlas.test2()

test2

In [34]:
atlas.test1()

test1 test1 test1

Polymorpsim >> aynı isimle farklı işlmler yapmak

In [35]:
class Banana ():

  def __init__(self,name):
    self.name = name

  def info(self):
    return f"100 calories {self.name}"

class Apple():

  def __init__(self,name):
    self.name = name

  def info(self):
    return f"150 calories {self.name}"

In [36]:
banana = Banana("banana")

In [37]:
apple = Apple("apple")

In [38]:
banana.info()

'100 calories banana'

In [39]:
apple.info()

'150 calories apple'

In [40]:
fuitList = [banana,apple]

In [41]:
for fruit in fuitList:
  print(fruit.info())

100 calories banana
150 calories apple

Encapsulaiton >> hapsetmek >> görüntüleme >> erişmek gibi

In [60]:
class Phone ():
  def __init__(self,name,price):
    self.name = name
    self.__price = price # değiştirilme özelliğine buradan erişebilirim

  def info(self):
    print(f"{self.name} price is {self.__price}")

  def changePrice(self,price):
    self.__price = price

In [61]:
iphone = Phone ("iPhone 13 ",500)

In [62]:
iphone.info()

iPhone 13  price is 500

In [63]:
iphone.price = 400

In [64]:
iphone.info()

iPhone 13  price is 500

In [65]:
iphone.__price = 600

In [66]:
iphone.info()

iPhone 13  price is 500

In [67]:
iphone.changePrice(600)

In [68]:
iphone.info()

iPhone 13  price is 600

Abstraction >> soyutlama

In [69]:
from abc import ABC , abstractclassmethod

In [70]:
class Car (ABC):
  @abstractclassmethod
  def maxSpeed(self):
    pass

In [71]:
class Tesla (Car):
  def maxSpeed(self):
    print("200")

In [72]:
tesla = Tesla ()

In [73]:
tesla.maxSpeed()

200

In [77]:
class Fruit():

  def __init__(self,name,calories):
    self.name = name
    self.calories = calories

  def __str__(self):
    return f"{self.name}: {self.calories} calories"

  def __len__(self):
    return self.calories

In [78]:
myFruit = Fruit("banana",150)

In [79]:
myFruit.calories

150

In [83]:
while True:
  try :
    myAge = int(input("enter age "))
    print(myAge*2)
    break
  except:
    print("enter your age!!")

enter age atlas
enter your age!!
enter age 23
46

In [84]:
def add_numbers(a : int , b: int ) -> int :
  return a + b

In [85]:
add_numbers(4,7)

11